################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Debug
/.vs
/Dependences
/Engine/x64/Debug
/Engine/imgui
/Engine/models/Cow.glb
/Engine/models/dancing_stormtrooper.glb
/Engine/models/elf_girl.glb
/Engine/models/English_Bulldog.glb
/Engine/models/Human_skeleton.glb
/Engine/models/Labrador_retriever.glb
/Engine/models/Large_troll.glb
/Engine/models/music_band_low_poly2.glb
/Engine/models/oaktree.gltf
/Engine/models/Oops.glb
/Engine/models/Schnauzer.glb
/Engine/models/stygimoloch.zip
/Engine/models/terrain_gridlines.gltf
/Engine/models/Tree.glb
/Engine/models/backpack/ao.jpg
/Engine/models/backpack/backpack.mtl
/Engine/models/backpack/backpack.obj
/Engine/models/backpack/diffuse.jpg
/Engine/models/backpack/normal.png
/Engine/models/backpack/roughness.jpg
/Engine/models/backpack/source_attribution.txt
/Engine/models/backpack/specular.jpg
/Engine/models/cartoon-flesh-eating-plant-with-animations/source/Cartoon.fbx
/Engine/models/cartoon-flesh-eating-plant-with-animations/textures/texture_pbr_v128.png
/Engine/models/cartoon-flesh-eating-plant-with-animations/textures/texture_pbr_v128_metallic.png
/Engine/models/cartoon-flesh-eating-plant-with-animations/textures/texture_pbr_v128_normal.png
/Engine/models/cartoon-flesh-eating-plant-with-animations/textures/texture_pbr_v128_roughness.png
/Engine/models/stygimoloch/source/minghelong.glb
/Engine/models/stygimoloch/textures/mhl_baseColor_1.png
/Engine/models/stygimoloch/textures/mhl_normal_0.png
/Engine/models/stygimoloch/textures/mhl_occlusionRoughnessMetallic_2.png
/Engine/models/stygimoloch/textures/mhl_occlusionRoughnessMetallic_2@channels=B.png
/Engine/models/stygimoloch/textures/mhl_occlusionRoughnessMetallic_2@channels=G.png
/Engine/images/laminate-flooring-brown-bl/albedo.png
/Engine/images/laminate-flooring-brown-bl/ao.png
/Engine/images/laminate-flooring-brown-bl/height.png
/Engine/images/laminate-flooring-brown-bl/metallic.png
/Engine/images/laminate-flooring-brown-bl/normal.png
/Engine/images/laminate-flooring-brown-bl/roughness.png
